<title> Our WebGL Skeleton Framework</title>

<style>
body {
    margin: 0px;
    background-color: #fff;
    overflow: hidden;
   }
</style>

<body>

  <div id="webGL-container">
  </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.js"></script>
  <script src="app.js"></script>
</body>
